<!DOCTYPE html>
<html lang="en">
<head>
<title><%= trello.organization_name %> Labels Overview</title>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js?ver=3.8.1'></script>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700' rel='stylesheet' type='text/css'>
<link href="stylesheets/trello.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width">
<style type="text/css">

.table>tbody>tr.in-progress>th {
  background-color: #94cc75;
  border-top: 1px solid #94cc75;
}
.table>tbody>tr.next>th {
  background-color: #c4e3b3;
  border-top: 1px solid #c4e3b3;
}
.table>tbody>tr.backlog>th {
  background-color: #dbedfe;
  border-top: 1px solid #dbedfe;
}
.table.table-rows>tbody>tr>th,
.table.table-rows>tbody>tr>td {
  padding: 15px;
}


</style>

</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="brand" style="background: transparent url('<%=trello.logo%>') no-repeat left -5px; background-size: 200px auto">
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <% LINKS.each do |page_name, page_title|
                if page_name != 'labels_overview' %>
                  <li><a href='<%=page_name%>.html'><%=page_title%></a></li>
                <%else%>
                  <li><a class="active" href='<%=page_name%>.html'><%=page_title%></a></li>
                <%end
                end%>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div class="container">

    <h2 class="visible-xs"><%= trello.organization_name %> Labels Overview</h2>

<%
      label_data = {}
      trello.teams.keys.map{ |team_name| team_name.to_s }.each do |team_name|
        trello.team_boards(team_name).each do |board|
          trello.board_lists(board, trello.max_lists_per_board).each do |list|
            list_name = list.name
            cards = trello.list_cards(list)
              cards.each do |card|
              labels = trello.card_labels(card)
              label_names = labels.map{ |label| label.name }
              label_names.each do |label_name|
                include = false
                if 'documentation' == label_name
                  include = !label_names.include?('docs-ack')
                elsif TrelloHelper::CURRENT_SPRINT_STATES.include?(list_name) && ('security' == label_name)
                  include = true
                elsif list_name !~ TrelloHelper::SPRINT_REGEXES && ['blocked', 'performance', 'ux', 'community'].include?(label_name) 
                  include = true
                end
                if include
                  label_data[label_name] = [] unless label_data[label_name]
                  label_data[label_name] << [card, list_name, board]
                end
              end
            end
          end
        end
      end

%>
<h2>Table of Contents</h2>
<ul>
<%
      label_data.each do |label_name, label_cards|
%>
  <li><a href='#<%=label_name%>' style="text-transform:uppercase"><%=label_name%></a></li>
<%
      end
%>
</ul>
<br />
<hr>

<%
      label_data.each do |label_name, label_cards|
%>
<h3 class="anchor" id="<%=label_name%>"><%=label_name.upcase%></h3>
<div class="container">
<div class="table-responsive">
<table class="table table-normal table-condensed">
  <tr><th>Card</th><th>List</th><th>Board</th></tr>
<%
        label_cards.each do |label_card|
          card = label_card[0]
          list_name = label_card[1]
          board = label_card[2]
%>
<tr>
<td><a href='<%=card.url%>'><%=card.name%></a></td>
<td><%=list_name%></td>
<td><a href='<%=board.url%>'><%=board.name%></a></td>
</tr>
<%
        end
%>
</table>
</div>
</div>
<%
      end
%>

  </div><!-- /container -->
</body>
</html>
