<!DOCTYPE html>
<html lang="en">
<head>
<title><%= trello.organization_name %> Releases Overview</title>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js?ver=3.8.1'></script>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700' rel='stylesheet' type='text/css'>
<link href="stylesheets/trello.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width">
<style type="text/css">

.table>tbody>tr.in-progress>th {
  background-color: #94cc75;
  border-top: 1px solid #94cc75;
}
.table>tbody>tr.next>th {
  background-color: #c4e3b3;
  border-top: 1px solid #c4e3b3;
}
.table>tbody>tr.backlog>th {
  background-color: #dbedfe;
  border-top: 1px solid #dbedfe;
}
.table.table-rows>tbody>tr>th,
.table.table-rows>tbody>tr>td {
  padding: 15px;
}


</style>

</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="brand" style="background: transparent url('<%=trello.logo%>') no-repeat left -5px; background-size: 200px auto">
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <% LINKS.each do |page_name, page_title|
                if page_name != 'releases_overview' %>
                  <li><a href='<%=page_name%>.html'><%=page_title%></a></li>
                <%else%>
                  <li><a class="active" href='<%=page_name%>.html'><%=page_title%></a></li>
                <%end
                end%>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div class="container">

    <h2 class="visible-xs"><%= trello.organization_name %> Releases Overview</h2>

<%
      release_data = {}
      releases = []
      trello.teams.keys.map{ |team_name| team_name.to_s }.each do |team_name|
        trello.team_boards(team_name).each do |board|
          trello.target(trello.board_lists(board, :filter => [:all])).each do |list|
            list_name = list.name
            complete = false
            status = 'Planned'
            if list_name == 'Accepted' || list_name =~ /^Sprint \d+/
              status = 'Complete'
              complete = true
            elsif list_name == 'In Progress' || list_name == 'Complete'
              status = 'In Progress'
            end
            cards = trello.list_cards(list)
            cards.each do |card|
              labels = trello.card_labels(card)
              label_names = labels.map{ |label| label.name }
              label_names.each do |label_name|
                if label_name =~ RELEASE_LABEL_REGEX
                  state = $1
                  release = $2
                  major = $3.to_i
                  minor = $5.to_i
                  patch = $7.to_i
                  orig_state = state
                  if complete
                    state = 'committed'
                  end
                  releases << [release, major, minor, patch] unless release_data[release]
                  release_data[release] = {} unless release_data[release]
                  release_data[release][state] = [] unless release_data[release][state]
                  release_data[release][state] << [card, status, board, team_name, orig_state]
                end
              end
            end
          end
        end
      end

      tag_to_epics = trello.tag_to_epics

      releases.sort_by!{ |release| [release[1], release[2], release[3]] }

      state_titles = {
        'committed' => "Committed in plan to be delivered and/or already complete",
        'targeted' => "Targeted to be delivered but not yet committed",
        'proposed' => "Proposed to be delivered and awaiting approval",
      }
%>
<h2>Table of Contents</h2>
<ul>
<%
      releases.each do |release|
        release_name = release[0]
%>
  <li><a href='#<%=release_name%>'><%=release_name%></a></li>
  <ul>
<%
        states = release_data[release_name]
        ['committed', 'targeted', 'proposed'].each do |state|
          release_cards = states[state]
          next unless release_cards
%>
    <li><a href='#<%="#{state}-#{release_name}"%>'><%=TrelloHelper::RELEASE_STATE_DISPLAY_NAME[state]%></a> (<%=release_cards.length%> cards)</li>
<%
        end
%>
  </ul>
<%
      end
%>
</ul>
<br />
<hr>
<%
      releases.each do |release|
        release_name = release[0]
        release_complete_sizing_total = 0
        release_remaining_sizing_total = 0
        team_complete_sizing_totals = {}
        team_remaining_sizing_totals = {}
%>
<h2 style="text-transform:uppercase" id="<%=release_name%>"><%=release_name%></h2>
<div class="container">
<%
        states = release_data[release_name]
        ['committed', 'targeted', 'proposed'].each do |state|
          release_cards = states[state]
          next unless release_cards

          state_complete_sizing_total = 0
          state_remaining_sizing_total = 0
%>
<h5 style="text-transform:uppercase" title="<%=state_titles[state]%>" id="<%="#{state}-#{release_name}"%>"><%=TrelloHelper::RELEASE_STATE_DISPLAY_NAME[state]%></h5>
<div class="container">
<div class="table-responsive">
<table class="table table-normal table-condensed">
  <tr><th title="Card Name">Scenario</th><th title="Sizing in Story Points">Sizing</th><th title="Planned, In Progress, or Complete">Status</th><th title="Associated Epics">Epic(s)</th><th title="Corresponding Board">Board</th></tr>
<%
          release_cards.sort_by! {|release_card| release_card[1]}
          release_cards.each do |release_card|
            card = release_card[0]
            status = release_card[1]
            board = release_card[2]
            team_name = release_card[3]
            orig_state = release_card[4]
            labels = trello.card_labels(card)
            label_names = labels.map{ |label| label.name }
            epics = []
            label_names.each do |label_name|
              if label_name.start_with? 'epic-'
                epic_card = nil
                if tag_to_epics[label_name]
                  epic_card = tag_to_epics[label_name].first
                end
                epics << [label_name[5..-1], epic_card ? epic_card.url : '']
              end
            end
            name = card.name.strip
            sizing = ''
            if name =~ /\((\d+|\?)\)(.*)/
              sizing = $1
              name = $2
              if status == 'Complete'
                state_complete_sizing_total += sizing.to_i
                team_complete_sizing_totals[team_name] = 0 unless team_complete_sizing_totals[team_name]
                team_complete_sizing_totals[team_name] += sizing.to_i
              else
                state_remaining_sizing_total += sizing.to_i
                team_remaining_sizing_totals[team_name] = 0 unless team_remaining_sizing_totals[team_name]
                team_remaining_sizing_totals[team_name] += sizing.to_i
              end
            end
%>
<tr>
<td><a href='<%=card.url%>'><%=name%></a></td>
<td><%=sizing%></td>
<td title="Plan State: <%=orig_state%>"><%=status%></td>
<td><%epics.each_with_index do |epic, index|%>
<a href='<%=epic[1]%>'><%=epic[0]%></a><%=(index == epics.length - 1) ? '' : ', '%>
<%end%></td>
<td><a href='<%=board.url%>'><%=board.name%></a></td>
</tr>
<%
          end

          release_complete_sizing_total += state_complete_sizing_total
          release_remaining_sizing_total += state_remaining_sizing_total
%>
</table>
<i>Completed Points (<%=state%>): <%="#{state_complete_sizing_total} of #{state_complete_sizing_total + state_remaining_sizing_total}"%></i><br />
<br />
<br />
</div>
</div>
<%
        end
%>
</div>
<h4 id="<%=release_name%>_completed_points"><%=release_name%> Completed Points:</h4>
<div class="container">
<%
        team_complete_sizing_totals.each do |team_name, complete_sizing|
%>
<%=team_name.upcase%>: <%="#{complete_sizing} of #{complete_sizing + team_remaining_sizing_totals[team_name]}"%><br />
<%
        end
%>
<strong>Total: <%="#{release_complete_sizing_total} of #{release_complete_sizing_total + release_remaining_sizing_total}"%></strong><br />
</div>
<br />
<br />
<%

      end
%>


  </div><!-- /container -->
</body>
</html>
