<!DOCTYPE html>
<html lang="en">
<head>
<title><%= trello.organization_name %> Roadmap Overview</title>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js?ver=3.8.1'></script>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700' rel='stylesheet' type='text/css'>
<link href="stylesheets/trello.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width">
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="brand" style="background: transparent url('<%=trello.logo%>') no-repeat left -5px; background-size: 200px auto">
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <% LINKS.each do |page_name, page_title|
                if page_name != 'roadmap_overview' %>
                  <li><a href='<%=page_name%>.html'><%=page_title%></a></li>
                <%else%>
                  <li><a class="active" href='<%=page_name%>.html'><%=page_title%></a></li>
                <%end
                end%>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div class="container">
    <h2 class="visible-xs"><%= trello.organization_name %> Roadmap Overview</h2>
<%
      cross_epic_complete_sizing_total = 0
      cross_epic_remaining_sizing_total = 0
      cross_epic_card_names = {}
      tag_to_epics = trello.tag_to_epics
%>
    <h2>Table of Contents</h2>
    <ol>
<%
      tag_to_epics.each do |tag, epic_cards|
        primary_epic_card = epic_cards.first
        epic_name = tag
        epic_name = tag[5..-1] if tag.start_with?('epic-')
%>
      <li><a href="#<%=epic_name%>" title="<%=primary_epic_card.name%>"><%=epic_name%></a></li>
<%
      end
%>
    </ol>
    <br />
    <hr>
<%
      tag_to_epics.each do |tag, epic_cards|
        primary_epic_card = epic_cards.first
        secondary_epic_card = epic_cards[1]
        epic_name = tag
        epic_name = tag[5..-1] if tag.start_with?('epic-')

%>
<section>
<h3 class="anchor" id="<%=epic_name%>"><a href='<%=primary_epic_card.url%>'><%="#{primary_epic_card.name}"%></a></h3>
<% if secondary_epic_card %>
Corresponding Private Roadmap Board Epic: <a href='<%=secondary_epic_card.url%>'><%=secondary_epic_card.name%></a></br>
<% end %>
<%=trello.markdown_to_html(primary_epic_card.desc)%>
<div class="table-responsive">
<table class="table table-normal table-condensed">
  <tr><th title="Card Name">Scenario</th><th title="Sizing in Story Points">Sizing<span class="pficon-help"></span></th><th title="Corresponding List">List</th><th title="Expected Release">Release</th><th title="Corresponding Board">Board</th></tr>
<%
        complete_sizing_total = 0
        remaining_sizing_total = 0
        epic_cards.each do |epic_card|
          epic_checklists = trello.list_checklists(epic_card)
          cards = {}
          epic_checklists.each do |checklist|
            checklist.items.each do |item|
              name = item.name.strip
              url = nil
              list = "Epic Backlog"
              board = 'Roadmap'
              if name =~ /\[(.*)\]\((https?:\/\/trello\.com\/[^\)]+)\) \(([^\)]+)\) \(([^\)]+)\)/
                name = $1.strip
                url = $2
                list = $3
                board = $4
              end
              key = url ? url : name
              c = cards[key]
              if c
                c[4] << checklist.name
              else
                cards[key] = [name, url, list, board, [checklist.name]]
              end
            end
          end
          cards.values.each do |card|
            name = card[0]
            url = card[1]
            list = card[2]
            board = card[3]
            releases = card[4]
            sizing = ''

            if name =~ /\((\d+|\?)\)(.*)/
              sizing = $1
              name = $2

              if list && sizing != '?'
                sizing_i = sizing.to_i
                if (list.match('^Sprint \d+') || list == 'Accepted' || list == 'Complete')
                  complete_sizing_total += sizing_i
                  cross_epic_complete_sizing_total += sizing_i unless url && cross_epic_card_names[url]
                else
                  remaining_sizing_total += sizing_i
                  cross_epic_remaining_sizing_total += sizing_i unless url && cross_epic_card_names[url]
                end
                if url
                  cross_epic_card_names[url] = true
                end
              end
            end
%>
<tr>
<%
            if url
%>
<td><a href='<%=url%>'><%=name%></a></td>
<%
            else
%>
<td><a href='<%=epic_card.url%>'><%=name%></a></td>
<%
            end
%>
<td><%=sizing%></td><td><%=list%></td><td><%=releases.join(', ')%></td><td><%=board%></td></tr>
<%
          end
        end
%>
</table>
</div><!-- table-responsive -->
<i>Completed Points: <%="#{complete_sizing_total} of #{complete_sizing_total + remaining_sizing_total}"%></i><br />
 </section>
<br/>
<br/>
<br/>
<br/>
<%
      end
%>


<strong>Total Completed Points: <%="#{cross_epic_complete_sizing_total} of #{cross_epic_complete_sizing_total + cross_epic_remaining_sizing_total}"%></strong><br />

  </div><!-- /container -->
</body>
</html>
