<!DOCTYPE html>
<html lang="en">
<head>
<title><%= trello.organization_name %> Sprint Schedule</title>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js?ver=3.8.1'></script>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700' rel='stylesheet' type='text/css'>
<link href="stylesheets/trello.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width">
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="brand" style="background: transparent url('<%=trello.logo%>') no-repeat left -5px; background-size: 200px auto">
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <% LINKS.each do |page_name, page_title|
                if page_name != 'sprint_schedule' %>
                  <li><a href='<%=page_name%>.html'><%=page_title%></a></li>
                <%else%>
                  <li><a class="active" href='<%=page_name%>.html'><%=page_title%></a></li>
                <%end
                end%>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


  <div class="container">
  <h2 class="visible-xs"><%= trello.organization_name %> Sprint Schedule</h2>

<%

      if trello.sprint_card
        current_release = ''
        if trello.current_release_labels && !trello.current_release_labels.empty?
          if trello.current_release_labels.first =~ TrelloHelper::RELEASE_LABEL_REGEX
            current_release = "#{$4} "
          end
        end
        next_release = 'Next '
        if trello.next_release_labels && !trello.next_release_labels.empty?
          if trello.next_release_labels.first =~ TrelloHelper::RELEASE_LABEL_REGEX
            next_release = "#{$4} "
          end
        end
        if trello.sprint_card.name =~ TrelloHelper::SPRINT_REGEX
          sprint = Sprint.new({:trello => trello, :uninitialized => true})
          sprint_num = $1.to_i
          code_freeze = sprint.code_freeze
          next_code_freeze = sprint.next_code_freeze
          stage_one_dep_complete = sprint.stage_one_dep_complete
          feature_complete = sprint.feature_complete
          sprint_end = trello.sprint_card.due.to_date
          sprint_end = sprint_end.next(trello.sprint_end_day.to_sym) unless sprint_end.wday == Date.new.next(trello.sprint_end_day.to_sym).wday
          sprint_begin = sprint_end
          trello.sprint_length_in_weeks.times{sprint_begin = sprint_begin.previous(trello.sprint_start_day.to_sym)}
%>
<section>
<%
      if stage_one_dep_complete && stage_one_dep_complete < sprint_begin
%>
<h4>Previous Milestones:</h4>
<ul>
  <li><strong><%=current_release%>Stage 1 Deps Feature Complete:</strong> <%=stage_one_dep_complete%></li>
  <%
        if feature_complete && feature_complete < sprint_begin
  %>
  <li><strong><%=current_release%>Feature Complete:</strong> <%=feature_complete%></li>
  <%
        end
        if code_freeze && code_freeze < sprint_begin
  %>
  <li><strong><%=current_release%>Code Freeze (max):</strong> <%=sprint.code_freeze%></li>
  <li><strong><%=current_release%>Final Release Candidate (max):</strong> <%=sprint.code_freeze%></li>
  <%
        end
  %>
</ul>
<br/>
<br/>
<%
      end
%>
<div class="table-responsive">
<table class="table table-normal table-condensed">
<%
          options.sprints.times do
            addtl_sprint_details = ''
            [[code_freeze, stage_one_dep_complete, feature_complete, current_release], [next_code_freeze, sprint.stage_one_dep_complete(next_code_freeze), sprint.feature_complete(next_code_freeze), next_release]].each do |release_milestones|
              cf = release_milestones[0]
              sodc = release_milestones[1]
              fc = release_milestones[2]
              release = release_milestones[3]
              if cf && cf >= sprint_begin
                if cf > sprint_end
                  if sodc <= sprint_end && sodc > sprint_begin
                    addtl_sprint_details += '<br/>' unless addtl_sprint_details.empty?
                    addtl_sprint_details += "<strong>#{release}Stage 1 Deps Feature Complete:</strong> #{sodc}"
                  elsif fc <= sprint_end && fc > sprint_begin
                    addtl_sprint_details += '<br/>' unless addtl_sprint_details.empty?
                    addtl_sprint_details += "<strong>#{release}Feature Complete:</strong> #{fc}<br/><strong>#{release}First Release Candidate (max):</strong> #{fc.next(trello.sprint_end_day.to_sym)}"
                  end
                elsif cf <= sprint_end
                  addtl_sprint_details += '<br/>' unless addtl_sprint_details.empty?
                  addtl_sprint_details += "<strong>#{release}Code Freeze (max):</strong> #{cf}<br/><strong>#{release}Final Release Candidate (max):</strong> #{cf}"
                end
              end
            end
%>
<tr>
<td>
  <h4>Sprint <%=sprint_num%></h4> <%=sprint_begin%> - <%=sprint_end%><br/><%=addtl_sprint_details%></td>
<td>

<%
            week = 1
            trello.sprint_length_in_weeks.times do
%>
  <div><b>Week <%=week%></b> (<%=date=sprint_begin; (week-1).times{date=date.next(trello.sprint_start_day.to_sym)}; date%> - <%=date=sprint_begin; week.times{date=date.next(trello.sprint_end_day.to_sym)}; date%>)</div>
<%
              week += 1
            end
%>

  <td>
</tr>
<%
            sprint_num += 1
            sprint_begin = sprint_end.next(trello.sprint_start_day.to_sym)
            trello.sprint_length_in_weeks.times{sprint_end = sprint_end.next(trello.sprint_end_day.to_sym)}
          end
%>
</table>
</div>
</section>
<%
        end
      end
%>
</div>
</body>
</html>
