<!DOCTYPE html>
<html lang="en">
<head>
<title><%= trello.organization_name %> Sprint Schedule</title>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js?ver=3.8.1'></script>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700' rel='stylesheet' type='text/css'>
<link href="stylesheets/trello.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width">
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="brand" style="background: transparent url('<%=trello.logo%>') no-repeat left -5px; background-size: 200px auto">
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <% LINKS.each do |page_name, page_title|
                if page_name != 'sprint_schedule' %>
                  <li><a href='<%=page_name%>.html'><%=page_title%></a></li>
                <%else%>
                  <li><a class="active" href='<%=page_name%>.html'><%=page_title%></a></li>
                <%end
                end%>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


  <div class="container">
  <h2 class="visible-xs"><%= trello.organization_name %> Sprint Schedule</h2>
<section>
<%
      if trello.sprint_card
        if trello.sprint_card.name =~ TrelloHelper::SPRINT_REGEX
          sprint_num = $1.to_i
          sprint_end = trello.sprint_card.due.to_date
          sprint_end = sprint_end.next(trello.sprint_end_day.to_sym) unless sprint_end.wday == Date.new.next(trello.sprint_end_day.to_sym).wday
          sprint_begin = sprint_end
          trello.sprint_length_in_weeks.times{sprint_begin = sprint_begin.previous(trello.sprint_start_day.to_sym)}
%>
<div class="table-responsive">
<table class="table table-normal table-condensed">
<%
          options.sprints.times do
            feature_complete_date = nil
            addtl_sprint_details = ''
            sprint = Sprint.new({:trello => trello})
            if sprint.code_freeze && sprint.code_freeze > sprint_begin
              if sprint.code_freeze > sprint_end
                feature_complete_date = sprint.code_freeze
                (trello.sprint_length_in_weeks * 2).times do
                  feature_complete_date = feature_complete_date.previous(trello.sprint_end_day.to_sym)
                end
                if feature_complete_date < sprint_end && feature_complete_date > sprint_begin
                  addtl_sprint_details = "Feature Complete: #{feature_complete_date}"
                end
              elsif sprint.code_freeze <= sprint_end
                addtl_sprint_details = "Code Freeze: #{sprint.code_freeze}"
              end
            end

%>
<tr>
<td>
  <h4>Sprint <%=sprint_num%></h4> <%=sprint_begin%> - <%=sprint_end%><br/><strong><%=addtl_sprint_details%></strong> </td>
<td>

<%
            week = 1
            trello.sprint_length_in_weeks.times do
%>
  <div><b>Week <%=week%></b> (<%=date=sprint_begin; (week-1).times{date=date.next(trello.sprint_start_day.to_sym)}; date%> - <%=date=sprint_begin; week.times{date=date.next(trello.sprint_end_day.to_sym)}; date%>)</div>
<%
              week += 1
            end
%>

  <td>
</tr>
<%
            sprint_num += 1
            sprint_begin = sprint_end.next(trello.sprint_start_day.to_sym)
            trello.sprint_length_in_weeks.times{sprint_end = sprint_end.next(trello.sprint_end_day.to_sym)}
          end
%>
</table>
</div>
</section>
<%
        end
      end
%>

</body>
</html>
