<!DOCTYPE html>
<html lang="en">
<head>
<title><%= trello.organization_name %> Teams Overview</title>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js?ver=3.8.1'></script>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700' rel='stylesheet' type='text/css'>
<link href="stylesheets/trello.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width">
<style type="text/css">

.table>tbody>tr.in-progress>th {
  background-color: #94cc75;
  border-top: 1px solid #94cc75;
}
.table>tbody>tr.next>th {
  background-color: #c4e3b3;
  border-top: 1px solid #c4e3b3;
}
.table>tbody>tr.backlog>th {
  background-color: #dbedfe;
  border-top: 1px solid #dbedfe;
}
.table.table-rows>tbody>tr>th,
.table.table-rows>tbody>tr>td {
  padding: 15px;
}

</style>

</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="brand" style="background: transparent url('<%=trello.logo%>') no-repeat left -5px; background-size: 200px auto">
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <% LINKS.each do |page_name, page_title|
                if page_name != 'teams_overview' %>
                  <li><a href='<%=page_name%>.html'><%=page_title%></a></li>
                <%else%>
                  <li><a class="active" href='<%=page_name%>.html'><%=page_title%></a></li>
                <%end
                end%>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div class="container">

    <h2 class="visible-xs"><%= trello.organization_name %> Teams Overview</h2>

<%
      release_data = {}
      releases = []
      search_lists = []
      trello.team_boards(team).each do |board|
        trello.board_lists(board).each do |list|
          search_lists << list
        end
      end if team

      cards_by_id = {}
      search_lists.each do |list|
        list_name = list.name
        complete = false
        status = 'Planned'
        pos_adjustment = TrelloHelper::LIST_POSITION_ADJUSTMENT[list_name]
        if TrelloHelper::ACCEPTED_STATES.include?(list_name) || list_name =~ TrelloHelper::SPRINT_REGEXES
          pos_adjustment = 0
          status = 'Complete'
          complete = true
        elsif TrelloHelper::CURRENT_SPRINT_NOT_ACCEPTED_STATES.include?(list_name)
          status = 'In Progress'
        end
        pos_adjustment = TrelloHelper::MAX_LIST_POSITION_ADJUSTMENT unless pos_adjustment
        cards = trello.list_cards(list)
        cards.each_with_index do |card, index|
          cards_by_id[card.id] = card
          labels = trello.card_labels(card)
          label_names = labels.map{ |label| label.name }
          label_names.each do |label_name|
          TrelloHelper::RELEASE_LABEL_REGEX.match(label_name) do |fields|
              state = fields[1]
              product = fields[2]
              release = fields[3]
              major = fields[4].to_i
              minor = fields[5].to_i
              patch = fields[6].to_i
              hotfix = fields[7].to_i
              orig_state = state
              if complete
                state = 'committed'
              end
              pos = index + pos_adjustment
              release_data[product] = {} unless release_data[product]
              releases << [product, release, major, minor, patch, hotfix] unless release_data[product][release]

              release_data[product][release] = {} unless release_data[product][release]
              release_data[product][release][state] = [] unless release_data[product][release][state]
              release_data[product][release][state] << [card, status, list_name, orig_state, pos]
            end
          end
        end
      end

      tag_to_epics = trello.tag_to_epics

      rfes = bugzilla.rfes

      releases.sort_by!{ |release| [release[0] ? release[0] : '', release[2], release[3], release[4], release[5]] }
%>
<h2>Teams</h2>
<ul>
<%
      trello.teams.keys.each do |t|
        if t == team
%>
  <li><%=t.upcase%></li>
<%
        else
%>
  <li><a href="teams_overview_<%=t%>.html"><%=t.upcase%></a></li>
<%
        end
      end
%>
</ul>
<%if team%>
<h2>Table of Contents</h2>
<ul>
<%
      releases.each do |release|
        product = release[0]
        release_name = release[1]
%>
  <li><a href='#<%="#{product ? "#{product}-": ''}#{release_name}"%>'><%="#{product ? "#{product.upcase}-": ''}#{release_name}"%></a></li>
  <ul>
<%
        states = release_data[product][release_name]
        release_cards_history = trello.release_cards_history(product, release_name)
        release_cards_history.delete_if{ |card_id, card_info| card_info['team_name'] != team.to_s } if release_cards_history
        added_to_release = false
        TrelloHelper::RELEASE_STATES.each do |state|
          release_cards = states[state]
          next unless release_cards
          if release_cards_history
            release_cards.each do |release_card|
              if !release_cards_history.delete(release_card[0].id)
                added_to_release = true
              end
            end
          end
%>
    <li><a href='#<%="#{state}-#{product ? "#{product}-": ''}#{release_name}"%>'><%=TrelloHelper::RELEASE_STATE_DISPLAY_NAME[state]%></a> (<%=release_cards.length%> cards)</li>
<%
        end
        if release_cards_history
          removed_from_release = !release_cards_history.empty?
          if removed_from_release
%>
    <li><a href='#removed-from-<%=release_name%>'>Removed From Release</a></li>
<%
          end
          if added_to_release
%>
    <li><a href='#added-to-<%=release_name%>'>Added to Release</a></li>
<%
          end
        end
%>
    <li><a href='#<%="#{product ? "#{product}-": ''}#{release_name}"%>_points'>Points Summary</a></li>
  </ul>
<%
      end
%>
</ul>
<br />
<hr>
<%
      releases.each do |release|
        product = release[0]
        release_name = release[1]
        release_complete_sizing_total = 0
        release_in_progress_sizing_total = 0
        release_remaining_sizing_total = 0
%>
<h2 class="anchor" id="<%="#{product ? "#{product}-": ''}#{release_name}"%>"><%="#{product ? "#{product.upcase}-": ''}#{release_name}"%></h2>
<div class="container">
<%
        release_cards_history = trello.release_cards_history(product, release_name)
        release_cards_history.delete_if{ |card_id, card_info| card_info['team_name'] != team.to_s } if release_cards_history
        cards_added_to_release = []

        states = release_data[product][release_name]
        TrelloHelper::RELEASE_STATES.each do |state|
          release_cards = states[state]
          next unless release_cards

          state_complete_sizing_total = 0
          state_in_progress_sizing_total = 0
          state_remaining_sizing_total = 0
          sorted_by_title = nil
          position_title = nil
          if state == 'committed'
            release_cards.sort_by! {|release_card| [release_card[1], release_card[4]]}
            sorted_by_title = '(sorted by status, position)'
            position_title = 'Position Within Status'
          else
            release_cards.sort_by! {|release_card| [release_card[4]]}
            sorted_by_title = '(sorted by position)'
            position_title = 'Position'
          end
%>
<h5 title="<%="#{trello.state_title(state, product, release_name)} #{sorted_by_title}"%>" class="anchor" id="<%="#{state}-#{product ? "#{product}-": ''}#{release_name}"%>"><%=TrelloHelper::RELEASE_STATE_DISPLAY_NAME[state]%> (<%=release_name%>)<span class="pficon-help"></span></h5>
<div class="container">
<div class="table-responsive">
<table class="table table-normal table-condensed">
  <tr><th title="Card Name">Scenario</th><th title="<%=position_title%>">Position<span class="pficon-help"></span></th><th title="Planned, In Progress, or Complete">Status<span class="pficon-help"></span></th><th title="Associated Epics">Epic(s)</th><th title="Additional Release(s)">Additional Release(s)</th><th>Members</th><th title="Sizing in Story Points (Rolling Total)">Sizing<span class="pficon-help"></span></th></tr>
<%
          position = 0
          sizing_total = 0
          release_cards.each do |release_card|
            card = release_card[0]
            status = release_card[1]
            list_name = release_card[2]
            orig_state = release_card[3]

            if release_cards_history
              if !release_cards_history.delete(card.id)
                cards_added_to_release << {
                                            'short_url' => card.short_url,
                                            'name' => card.name,
                                            'state' => orig_state
                                          }
              end
            end

            position += 1
            labels = trello.card_labels(card)
            label_names = labels.map{ |label| label.name }
            epics = []
            addtl_releases = []
            stage1_dep_indicator = ''
            label_names.each do |label_name|
              if label_name.start_with? 'epic-'
                epic_card = nil
                if tag_to_epics[label_name]
                  epic_card = tag_to_epics[label_name].first
                end
                epics << [label_name[5..-1], epic_card ? epic_card.url : nil]
              elsif label_name == TrelloHelper::STAGE1_DEP_LABEL
                stage1_dep_indicator = '*'
              else
                TrelloHelper::RELEASE_LABEL_REGEX.match(label_name) do |fields|
                  if product != fields[2]
                    addtl_releases << [fields[2], label_name, fields[1], fields[3]]
                  end
                end
              end
            end

            related_rfe = nil
            if card.desc =~ TrelloHelper::BUGZILLA_REGEX
              if rfes[$2.to_i]
                related_rfe = $1
              end
            end

            name = card.name.strip
            sizing = nil
            if name =~ TrelloHelper::CARD_NAME_REGEX
              sizing = $2.to_i
              sizing_total += sizing
              name = $3
              if status == 'Complete'
                state_complete_sizing_total += sizing
              else
                if status == 'In Progress'
                  state_in_progress_sizing_total += sizing
                end
                state_remaining_sizing_total += sizing
              end
            end
            if status == 'In Progress'
              if TrelloHelper::COMPLETE_STATES.include?(list_name)
                status = 'In Progress (on_qe)'
              end
            end

            members = trello.card_members(card)
            member_names = members.collect{ |member| member.username }
%>
<tr>
<td><div>
<%
        if related_rfe
%>
(<a href='<%=related_rfe%>'>RFE</a>)
<%
        end
%>
<a href='<%=card.url%>'><%=name%></a></div></td>
<td title="<%=position_title%>"><%=position%><%=stage1_dep_indicator%></td>
<td title="Plan State: <%=orig_state%>, List: <%=list_name%>"><%=status%></td>
<td><%epics.each_with_index do |epic, index|
        separator = (index == epics.length - 1) ? '' : ', '
        if epic[1]
%>
<a href='<%=epic[1]%>'><%=epic[0]%></a><%=separator%>
<%
        else
%>
<%="#{epic[0]}#{separator}"%>
<%
        end
%>
<%end%></td>
<td><%addtl_releases.each_with_index do |release_info, index|
        p = release_info[0]
        label = release_info[1]
        addtl_state = release_info[2]
        addtl_release = release_info[3]
        separator = (index == addtl_releases.length - 1) ? '' : ', '
%>
<a href='<%="##{addtl_state}-#{p ? "#{p}-": ''}#{addtl_release}"%>'><%=label%></a><%=separator%>
<%end%></td>
<td><%=member_names.map{ |member_name| "<a href='developers_overview_#{team.to_s}.html##{member_name}'>#{member_name}</a>" }.join(', ')%></td>
<td title="Sizing in Story Points (Rolling Total)" nowrap><%=sizing ? "#{sizing} (#{sizing_total})" : ''%></td>
</tr>
<%
          end

          release_complete_sizing_total += state_complete_sizing_total
          release_in_progress_sizing_total += state_in_progress_sizing_total
          release_remaining_sizing_total += state_remaining_sizing_total
          completed_details = nil
          if state == 'committed'
            completed_details = "Completed Points (#{state}): #{state_complete_sizing_total} of #{state_complete_sizing_total + state_remaining_sizing_total}"
          else
            completed_details = "Total Points (#{state}): #{state_remaining_sizing_total}"
          end
%>
</table>
<i><%=completed_details%></i><br />
<br />
<br />
</div>
</div>
<%
        end
        unless release_cards_history.nil? || release_cards_history.empty?
          removed_sizing_total = 0
%>
<h5 title="Cards removed from the release after the release began" class="anchor" id="removed-from-<%=release_name%>">Removed from Release (<%=release_name%>)<span class="pficon-help"></span></h5>
<div class="container">
<div class="table-responsive">
<table class="table table-normal table-condensed">
  <tr><th title="Card Name">Scenario</th><th title="Committed, Targeted, or Proposed">Original Plan State<span class="pficon-help"></span></th><th title="Other Release(s)">Other Release(s)</th><th title="Sizing in Story Points">Sizing</th></tr>
<%
          release_cards_history_list = []
          release_cards_history.each do |id, card_info|
            card = cards_by_id[id] || trello.find_card(id, false)
            other_releases = []
            if card
              labels = trello.card_labels(card)
              label_names = labels.map{ |label| label.name }
              label_names.each do |label_name|
                TrelloHelper::RELEASE_LABEL_REGEX.match(label_name) do |fields|
                  other_releases << [fields[2], label_name, fields[1], fields[3]]
                end
              end
            end
            card_info['other_releases'] = other_releases
            if card_info['name'] =~ TrelloHelper::CARD_NAME_REGEX
              sizing = $2.to_i
              card_info['sizing'] = sizing
              card_info['name'] = $3
              removed_sizing_total += sizing
            end
            release_cards_history_list << card_info
          end
          release_cards_history_list.sort_by!{ |card_info| [TrelloHelper::RELEASE_STATE_ORDER[card_info['state']], card_info['team_name']] }
          release_cards_history_list.each do |card_info|
%>
<tr>
<td><a href='<%=card_info['short_url']%>'><%=card_info['name']%></a></div></td>
<td><%=card_info['state']%></td>
<td><%card_info['other_releases'].each_with_index do |release_info, index|
            p = release_info[0]
            label = release_info[1]
            addtl_state = release_info[2]
            addtl_release = release_info[3]
            separator = (index == card_info['other_releases'].length - 1) ? '' : ', '
%>
<a href='<%="##{addtl_state}-#{p ? "#{p}-": ''}#{addtl_release}"%>'><%=label%></a><%=separator%>
<%end%></td>
<td><%=card_info['sizing']%></td>
</tr>
<%
          end
%>
</table>
<i>Total Points (removed): <%=removed_sizing_total%></i><br />
<br />
<br />
</div>
</div>
<%
        end
        unless cards_added_to_release.empty?
          added_sizing_total = 0
%>
<h5 title="Cards added to the release after the release began" class="anchor" id="added-to-<%=release_name%>">Added to Release (<%=release_name%>)<span class="pficon-help"></span></h5>
<div class="container">
<div class="table-responsive">
<table class="table table-normal table-condensed">
  <tr><th title="Card Name">Scenario</th><th title="Committed, Targeted, or Proposed">Plan State<span class="pficon-help"></span></th><th title="Sizing in Story Points">Sizing</th></tr>
<%
          cards_added_to_release.sort_by!{ |card_info| [TrelloHelper::RELEASE_STATE_ORDER[card_info['state']], card_info['team_name']] }
          cards_added_to_release.each do |card_info|
            if card_info['name'] =~ TrelloHelper::CARD_NAME_REGEX
              sizing = $2.to_i
              card_info['sizing'] = sizing
              card_info['name'] = $3
              added_sizing_total += sizing
            end
%>
<tr>
<td><a href='<%=card_info['short_url']%>'><%=card_info['name']%></a></div></td>
<td><%=card_info['state']%></td>
<td><%=card_info['sizing']%></td>
</tr>
<%
          end
%>
</table>
<i>Total Points (added): <%=added_sizing_total%></i><br />
<br />
<br />
</div>
</div>
<%
        end
%>
<h4 class="anchor" id="<%="#{product ? "#{product}-": ''}#{release_name}"%>_points"><%="#{product ? "#{product.upcase}-": ''}#{release_name} Point Summary:"%></h4>
<div class="container">
Completed + In Progress: <%="#{release_complete_sizing_total + release_in_progress_sizing_total} of #{release_complete_sizing_total + release_remaining_sizing_total}"%><br />
In Progress: <%="#{release_in_progress_sizing_total}"%><br />
<strong>Completed: <%="#{release_complete_sizing_total} of #{release_complete_sizing_total + release_remaining_sizing_total}"%></strong><br />
</div>
</div>
<br />
<br />
<%
      end
%>
* - Stage 1 Dependency (due two sprints before feature complete)
<%end%>
    <br/>
    <br/>
    <br/>
    <br/>
    <hr>
    <i>Generated at <%=Time.now.strftime("%I:%M%p %Z")%></i><%if trello.archive_path%> - <a href="<%=trello.archive_path%>">archives</a><%end%>
  </div><!-- /container -->
</body>
</html>
